.cart-page{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
}

.empty-cart h1{
    font-size: 2rem;
    color: #555;
    margin-top: 20px;
}

.empty-cart button{
    background-color: #14a105;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
}

.empty-cart button:hover{
    background-color: #1dbb0c;
}

.empty-cart button:active{
    background-color: #0f7a07;
    transform: scale(0.98);
}

.cart-container{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cart-item{
    background: #75e864;
    background: radial-gradient(circle, rgba(117, 232, 100, 0.75) 0%, rgba(85, 242, 61, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20vw;
    margin-bottom: 5px;
    padding: 20px 55px;
    width: 88vw;
    border-radius: 20px;
    border: 1px solid #005200;
}

.cart-item:hover{
    background: radial-gradient(circle, rgba(148, 255, 132, 0.85) 0%, rgb(77, 255, 49) 100%);
    border-color: #028a02;
}

.cart-item img{
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.cart-item-actions{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
}

.cart-item-actions button{
    background: #14a105;
    background: radial-gradient(circle, rgba(20, 161, 5, 0.75) 0%, rgba(59, 179, 0, 1) 100%);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: #fff;
    width: 30px;
}

.cart-item-actions button:hover{
    background: radial-gradient(circle, rgb(39, 211, 20) 0%, rgb(96, 221, 33) 100%);
}

.cart-item-actions button:active{
    background: radial-gradient(circle, rgb(80, 241, 62) 0%, rgb(104, 230, 41) 100%);
    transform: scale(0.98);
}

.cart-item-actions span{
    font-size: 16px;
    font-weight: bold;
}

.cart-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.checkout-btn{
    background-color: #14a105;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;

}