header{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    gap: 4.25rem;
    list-style-type: none;
    font-weight: bold;
}

nav ul li .nav-link{
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: #000;
}

nav ul li .nav-link:hover{
    color: #333;
}

nav ul li .nav-link:active{
    color: #555;
    transform: scale(0.9);
}

.shopping-cart-icon {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
}